<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testcases.ListenerA"></listener>
</listeners>
<parameter name="username" value="gsiuser"></parameter>
<parameter name="pass" value="gsipass"></parameter>
<groups>
<run>
<include name="smoke"></include>
</run>
</groups>
  <test  name="Test" >
    <classes>
   <!-- ctrl+shift+/-->
    <!--  <class name="testcases.LoginTest"/>-->
      <class name="testcases.MobileTest"/>
       <class name="testcases.LoginTest">
     <!--  <methods>
       
       <exclude name="login"></exclude>
       <include name="logout"></include>

       </methods>-->
       </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
